* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  width: 80%;
}

body {
  background-color: rgb(255, 255, 255);
  font-size: 34px;
}

.sim-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #292922;
  border-style: solid;
  border-width: 15px;
  border-radius: 45px;
  height: 900px;
  width: 414px;
}

#back-arrow {
  cursor: pointer;
  text-align: left;
  background-color: #292929;
  width: 95%;
  margin-top: 6%;
  border: none;
}

#back {
  height: 65px;
  width: auto;
}

.title {
  text-align: center;
  margin-top: 30%;
  font-size: 1em;
  color: #777;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000;

  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100%;
}

#create-button {
  cursor: pointer;
  height: 65px;
  width: 100%;
  background-color: #DF6A6A;
  font-size: .76em;
  color: white;
  border-radius: 20px;
  border-color: #000;
  border-width: .1em;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000;

}


.join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#join-button {
  cursor: pointer;
  height: 65px;
  width: 100%;
  background-color: #6ADF6A;
  font-size: .76em;
  color: white;
  border-radius: 20px;
  border-color: #000;
  border-width: .1em;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light gray */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}